<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0222" targetFramework="net461" />
  <package id="Costura.Fody" version="3.3.1" targetFramework="net461" />
  <package id="Fody" version="3.3.5" targetFramework="net461" developmentDependency="true" />
  <package id="MahApps.Metro" version="2.0.0-alpha0212" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Material" version="3.0.0-alpha0096" targetFramework="net461" />
  <package id="MahApps.Metro.SimpleChildWindow" version="2.0.0-alpha0005" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net45" />
</packages>